.dsp-sub {
  background-color: #66ff66;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: fit-content;
}

.lectuers a {
  display: block;
  font-size: 1.5rem;
  color: #343a40;
  margin-top: 1rem;
  width: fit-content;
  padding: 0.7rem 1rem;
  border-radius: 12px;
  background-color: #00e600;
  display: flex;
  align-items: center;
  gap: 1rem;
}
