/* 
  MAIN COLOR: #fdfdfd
  SECOND COLOR: #343a40;
*/

.container {
  text-align: right;
  /* background-color: #fdfdfd; */
  color: #fdfdfd;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 5rem; */
}
.container p {
  padding: 1rem;
  background-color: #66ff66;
  color: #343a40;
  font-weight: bold;
}
.container ol li {
  border: 1px solid #fdfdfd;
  padding: 1rem;
  color: #fdfdfd;
}
.container ol li:not(:last-of-type) {
  border-bottom: 0;
}
/* .home {
  font-weight: 600;
  font-size: 1.25rem;
  color: #000;
  display: inline-block;
  color: #fdfdfd;
} */
@media (min-width: 767px) {
  .container h1 {
    font-size: 3rem;
  }
  .container ol li {
    font-size: 2rem;
  }
  .container p {
    font-size: 2.5rem;
  }
}
